<md-content flex="50" flex-offset="25">
	<md-card>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>Login</h2>
			</div>
		</md-toolbar>
		<md-card-content layout>
			<div flex=50 layout-padding>
				<p class="md-body-1">Login to CRM Demo either by an Administrator or as a Customer.</p>
				<p class="md-body-1">
					For help and about this CRM, please visit the <a href="/help">help</a> section.
				</p>
				<p class="md-body-1">
					If you are a new user, then please Signup first.
				</p>
				
				<span layout-align="center center" layout><a href="/signup" class="md-button md-primary">Signup</a></span>
			</div>
			<div flex="50" layout-padding>
				<form name="login_form" ng-submit="login()">
				<md-input-container>
					<label>Email</label>
					<input ng-model="loginCreds.email" type="email" autocomplete required md-no-asterisk name="email"></input>
					<div ng-messages="login_form.email.$error">
      					<div ng-message="required">This is required.</div>
      				</div>
				</md-input-container>
				<md-input-container>
					<label>Password</label>
					<input type="password" ng-model="loginCreds.password" required md-no-asterisk name="password"></input>
					<div ng-messages="login_form.password.$error">
      					<div ng-message="required">This is required.</div>
      				</div>
				</md-input-container>
				<p>
					Login as
				</p>
				<md-radio-group ng-model="loginCreds.as" layout>
					<md-list-item>
						<md-radio-button value="a">Admin</md-radio-button>
					</md-list-item>
					<md-list-item>
						<md-radio-button value="c">Customer</md-radio-button>
					</md-list-item>
				</md-radio-group>

				<md-button class="md-primary md-raised" id="loginBtn" type="submit">Login</md-button>
				</form>
			</div>
		</md-card-content>
	</md-card>
</md-content>